nav ul {
    list-style-type: none; 
    padding: 10px 0;
    margin: 0; 
}

nav ul li {
    color: #9E9E9E;
    display: flex; 
    align-items: center;
    margin-top: 10px; 
    padding: 15px 0;
}

nav ul li a {
    display: flex; 
    align-items: center;
    text-decoration: none;
    color: inherit; 
}

nav ul li a mat-icon {
    margin-right: 15px; 
}

.sidebar-container {
    padding: 20px;
    width: 250px;
    background: #1B2028;
    position: fixed;
    border-radius: 0;
}
.sidebar-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container button {
    background-color: rgb(171, 47, 47);
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
}

.container button:hover {
    background-color: rgb(109, 68, 68);
}